In [1]:
#1
import pandas as pd
data =[10,20,30,40]
v=pd.Series(data)
print(v)

0    10
1    20
2    30
3    40
dtype: int64

In [2]:
#2
data ={
    'Name':['Alice','Bob','Charlie'],
    'Age':[25,30,55],
    'City':['NewYork','LosAngeles','Chicago']
}
df = pd.DataFrame(data)
print(df)

      Name  Age        City
0    Alice   25     NewYork
1      Bob   30  LosAngeles
2  Charlie   55     Chicago

In [3]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [4]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [5]:
#3
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.tail())

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [7]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 528.0+ bytes
None

In [8]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.head(5))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [9]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [12]:
print(df.iloc[1])

TransactionID               2
TransactionDate    2011-05-26
UserID                    3.0
ProductID                   4
Quantity                    1
Name: 1, dtype: object

In [15]:
import pandas as pd
df=pd.read_csv('transactions.csv')
print(df[['ProductID','Quantity']])

   ProductID  Quantity
0          2         1
1          4         1
2          3         1
3          2         3
4          4         1
5          5         6
6          4         1
7          2         3
8          4         3
9          4         4

In [16]:
import pandas as pd
df=pd.read_csv('transactions.csv')
print(df[['ProductID']])

   ProductID
0          2
1          4
2          3
3          2
4          4
5          5
6          4
7          2
8          4
9          4

In [17]:
df.iloc[4]

TransactionID               5
TransactionDate    2013-06-06
UserID                    2.0
ProductID                   4
Quantity                    1
Name: 4, dtype: object

In [23]:
import pandas as pd
df = pd.read_csv("transactions.csv")
filtered_df=df[df['ProductID']>30]
print(filtered_df)

Empty DataFrame
Columns: [TransactionID, TransactionDate, UserID, ProductID, Quantity]
Index: []

In [19]:
import pandas as pd
df = pd.read_csv("transactions.csv")
filtered_df=df[df['Quantity']>4]
print(filtered_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6

In [21]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df.rename(columns={'ProductID':'PID'},inplace=True)
print(df)

   TransactionID TransactionDate  UserID  PID  Quantity
0              1      2010-08-21     7.0    2         1
1              2      2011-05-26     3.0    4         1
2              3      2011-06-16     3.0    3         1
3              4      2012-08-26     1.0    2         3
4              5      2013-06-06     2.0    4         1
5              6      2013-12-23     2.0    5         6
6              7      2013-12-30     3.0    4         1
7              8      2014-04-24     NaN    2         3
8              9      2015-04-24     7.0    4         3
9             10      2016-05-08     3.0    4         4

In [22]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df.rename(columns={'UserID':'uID'},inplace=True)
print(df.head())

   TransactionID TransactionDate  uID  ProductID  Quantity
0              1      2010-08-21  7.0          2         1
1              2      2011-05-26  3.0          4         1
2              3      2011-06-16  3.0          3         1
3              4      2012-08-26  1.0          2         3
4              5      2013-06-06  2.0          4         1

In [24]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df.rename(columns={"Quantity": "Qty"}, inplace=True)
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Qty
0              1      2010-08-21     7.0          2    1
1              2      2011-05-26     3.0          4    1
2              3      2011-06-16     3.0          3    1
3              4      2012-08-26     1.0          2    3
4              5      2013-06-06     2.0          4    1

In [25]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df.rename(columns={"uID": "UserID"}, inplace=True)
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [26]:
print(df.isnull().sum())

TransactionID      0
TransactionDate    0
UserID             1
ProductID          0
Quantity           0
dtype: int64

In [28]:
print(df['ProductID'].fillna(df['ProductID'].mean(), inplace=True))

None

In [30]:
print(df.dropna(inplace=True))

None

In [31]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df_sorted = df.sort_values(by=["Quantity", "TransactionDate"],
ascending=[True, False])
print(df_sorted.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1

In [34]:
subset_rows = df.iloc[[0, 2, 5, 6]]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1

In [39]:
foo = [True, False, True, False,True,False,True,False,True,False] # Example of a boolean array
subset_rows = df[foo]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3

In [41]:
#36.
subset = df[df['Quantity'] > 1][['TransactionID','TransactionDate']]
print(subset)

   TransactionID TransactionDate
3              4      2012-08-26
5              6      2013-12-23
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [44]:
columns_to_select = ['TransactionID','TransactionDate']
subset_columns = df[columns_to_select]
print('TransactionID')

TransactionID

In [45]:
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print(df.dtypes)

TransactionID               int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quantity                    int64
dtype: object

In [46]:
##37.
df['Foo'] = df['UserID'] + df['ProductID']
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  Foo
0              1      2010-08-21     7.0          2         1  9.0
1              2      2011-05-26     3.0          4         1  7.0
2              3      2011-06-16     3.0          3         1  6.0
3              4      2012-08-26     1.0          2         3  3.0
4              5      2013-06-06     2.0          4         1  6.0

In [50]:
print(df.loc[len(df)] = [new_user_id, new_product_id, new_quantity,new_transaction_date])

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-50-a785ea686394>, line 1)

In [51]:
df['Foo'] = df['UserID'] + df['ProductID']
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  Foo
0              1      2010-08-21     7.0          2         1  9.0
1              2      2011-05-26     3.0          4         1  7.0
2              3      2011-06-16     3.0          3         1  6.0
3              4      2012-08-26     1.0          2         3  3.0
4              5      2013-06-06     2.0          4         1  6.0

In [52]:
print(df.loc[len(df)] = [new_user_id, new_product_id, new_quantity,
new_transaction_date])

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-52-bd8630d2f1dc>, line 1)

In [56]:
df['NewColumn'] = df['Quantity'] * 2
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  Foo  NewColumn  \
0              1      2010-08-21     7.0          2         1  9.0          2
1              2      2011-05-26     3.0          4         1  7.0          2
2              3      2011-06-16     3.0          3         1  6.0          2
3              4      2012-08-26     1.0          2         3  3.0          6
4              5      2013-06-06     2.0          4         1  6.0          2

   Qty*2
0      2
1      2
2      2
3      6
4      2

In [55]:
df['Qty*2'] = df['Quantity'] * 2
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  Foo  NewColumn  \
0              1      2010-08-21     7.0          2         1  9.0          2
1              2      2011-05-26     3.0          4         1  7.0          2
2              3      2011-06-16     3.0          3         1  6.0          2
3              4      2012-08-26     1.0          2         3  3.0          6
4              5      2013-06-06     2.0          4         1  6.0          2

   Qty*2
0      2
1      2
2      2
3      6
4      2

In [57]:
print(df['TransactionDate'] = pd.to_datetime(df['TransactionDate']))

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-57-cde980885453>, line 1)