In [1]:
import numpy as np
import pandas as pd

NameError: name 'df' is not defined

In [3]:
df = pd.read_csv("transactions.csv")
df.describe()

NameError: name 'pd' is not defined

In [5]:
print("No.of Attributes : ",df.shape[1])

NameError: name 'df' is not defined

In [4]:
df.info()

NameError: name 'df' is not defined

In [9]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df.describe()

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [8]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df.isnull().sum()

TransactionID      0
TransactionDate    0
UserID             1
ProductID          0
Quantity           0
dtype: int64

In [10]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 528.0+ bytes

In [12]:
import pandas as pd
rows,cols = df.shape
print(f"No.of rows and columns: {rows} * {cols}")

No.of rows and columns: 10 * 5

In [13]:
import numpy as np
df = pd.read_csv("transactions.csv")
df.describe()

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [15]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score
plt.figure(figsize=(8,5))
sns.scatterplot(x=df["TV"],y=df["Sales"],color='blue',alpha=0.6)
plt.title("Sctterplot of TV Budget vs Sales")
plt.xlabel("TV Marketing Budget")
plt.ylabel("Sales")
plt.show()

ModuleNotFoundError: No module named 'seaborn'

In [18]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
plt.figure(figsize=(8, 5))
plt.scatter(X_train, y_train, color='blue', label="Train Data")
plt.plot(X_train, lr.predict(X_train), color='red', linewidth=2, label="Regression Line")
plt.xlabel("TV Marketing Budget")
plt.ylabel("Sales")
plt.title("Linear Regression Model (Training Data)")
plt.legend()
plt.show()

ModuleNotFoundError: No module named 'seaborn'